* {
	margin:0;
	padding:0;
	direction : ltr;
	font-family: Arial;	
	background: 
}

body{	
	background-color:#132D12;
	color: white;
	margin-top: 7px;
	margin-left: 57px;
	padding:0;
	
}
h3{
	margin-top: 27px;	
}
a{
	margin-top: 27px;	
	color: black;
}
.submit{
	margin-top: 10px;		
	margin-left: 40px;
}